
body {
        margin: 0;
        padding: 0;
    }
ul{
    background: skyblue;
    margin: 0;
    padding: 10px;
    }
    li{
    display: inline-block;
    margin: 20px;
    width: 100px;
    height: 50px;
    line-height: 50px;
    background-color: white;   
    }
    li:hover{
    background-color:lightblue;
    }
    li a{
        text-decoration:none;
        color:navy;
    }
    li a:hover{
    color:white;
    }
